.carousel-mon
 .carousel__container
  +projectBox("inicio_proyectos.html","001_rev1.jpg","project 1","title","Duis mollis porttitor ligula.")
  +projectBox("#","003_rev1.jpg","project 2","title","subtitle")
  +projectBox("#","002_rev1.jpg","project 3","title","subtitle")
  +projectBox("#","005_rev1.jpg","project 4","title","subtitle")