-var nameBrand = "vivaverde"

mixin heroArt(ncover,align,title)
 section.hero
  div(class="hero--"+ncover)
   .container
    .hero--title
     .hero--title__text
      h2(class=""+align)=title

mixin projectBox(link,images,name,title,subtitle)
 a(href=""+link)
  .carousel-item-mon
   img(class="carousel-item__img", src="img/photos_product/"+images, alt="project"+name)
   .carousel-item__details
    div
     img(class="carousel-item__details--img", src="img/photos_product/"+images, alt="Play icon")
     img(class="carousel-item__details--img", src="img/photos_product/"+images, alt="Plus icon")
    h3(class="carousel-item__details--title")=title
    p(class="carousel-item__details--subtitle")=subtitle