section.block--contact
 .container-fluid
  .form__title
   .row
   .col-8.offset-2
    h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ipsum augue, congue in egestas placerat, euismod eu purus. Curabitur laoreet scelerisque viverra
    a(href="mailto:#")
     h4 pjg@gmail.com