.block--text-services {
    padding: 0 2rem;
    position: relative;
    color: $color-primary;
    .block--text-services__back {
        margin: 8rem 0;
        height: 700px;
        box-shadow: $shadow1;
        background: $color-lighting;
        display: flex;
        align-items: center;
        justify-content: center;
        .block--text-services__img-right {
            width: 100%;
            height: 100%;
            overflow: hidden;
            flex-shrink: 0;
            .img--info__right-2 {
                margin: 0%;
                right: 25px;
                bottom: -80px;
                position: absolute;
                img {
                    object-fit: cover;
                    width: 320px;
                    height: 320px;
                }
            }
        }
        .block--text-services__text-right {
            h2 {
                font-size: $fontS3 - 5;
            }
            .line--two {
                width: 300px;
                right: -60px;
                @include line1;
            }
        }
        .img--left-2 {
            img {
                width: 100%;
                margin-left: 5rem;
                border-radius: 200px;
            }
        }
        .block--text-services__question {
            padding-left: 5%;
            padding-top: 3%;
            .border--img img {
                height: 45px;
                width: 45px;
                border-radius: 40px;
            }
            span {
                padding-left: .5rem;
            }
        }
        .block--text-services__answer {
            margin: 1.5rem;
            display: flex;
            align-items: center;
            div.tab-content {
                padding-right: 1rem;
            }
        }
        .list-group-item {
            border: none;
            border-bottom: 1px solid rgba($color-primary, $alpha: .4);
        }
        .list-group-item.active {
            background-color: rgba($color-secondary, $alpha: .8);
            border: none;
        }
    }
}