.footer {
    position: relative;
    margin: 1rem;
    margin-left: 3rem;
    padding-top: 2rem;
    background: $color-lighting;
    height: auto;
    a {
        color: $color-primary;
        text-decoration: none;
        &:hover {
            color: $color-secondary;
        }
        &:active {
            color: darken($color-secondary, $amount: .5);
        }
    }
    .logo.logo--footer img {
        @include logolg;
    }
    .footer--logo p {
        margin-left: 15px;
    }
    h5.lenguage {
        margin-top: .8rem;
        color: $color-primary;
        border-bottom: 1px solid darken($color-lighting, 10%);
    }
    .firm--monlogo {
        font-family: $font1;
        border-top: 1px solid darken($color-lighting, 10%);
        margin: 1.5rem 10% 0 10%;
        text-align: center;
        h6 {
            /* font-size: $fontS1; */
            padding-top: 1.5rem;
            line-height: 2.5rem;
            display: inline-block;
            padding-right: .5rem;
        }
        .btn.btn--monlogo {
            font-size: $fontS1 + 3;
            border: 1px solid $color-alert;
            border-radius: 20px;
            background: $color-alert;
            color: rgba($color-lighting, $alpha: .95);
        }
    }
}