.header--main {
    .navbar {
        .navbar-brand {
            padding-top: 20px;
            .logo.logo--header img {
                margin-left: 15px;
                width: 220px;
            }
        }
        .navbar-collapse .nav-item .nav-link {
            margin-left: 15px;
            padding-top: 1.5rem;
            font-size: 1.25em;
            color: $color-primary;
            font-family: $font2;
        }
    }
}